{% extends "auctions/layout.html" %}

{% block body %}
<section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <!-- Heading & Filters -->
    <div class="mb-4 items-end justify-between space-y-4 sm:flex sm:space-y-0 md:mb-8">
      <div>
        <!-- breadcrumbs -->
        <nav class="flex" aria-label="Breadcrumb">
          {% if search_result %}
          <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
              <!-- home -->
              <a href="{% url 'index' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white">
                <svg class="me-2.5 h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                Home
              </a>
            </li>
            <li>
              <div class="flex items-center">
                <svg class="h-5 w-5 text-gray-400 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7" />
                </svg>
                <!-- products -->
                <a href="#" class="ms-1 text-sm font-medium text-gray-700 hover:text-primary-600 dark:text-gray-400 dark:hover:text-white md:ms-2">
                  {% for search_result in search_result %}
                    {{ search_result.category }}
                  {% endfor %}
                </a>
              </div>
            </li>
          </ol>
          {% endif %}
        </nav>
        <!-- catalogue title -->
        <h2 class="mt-3 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">{{listing.catalogue}}</h2>
      </div>
      <div class="flex items-center space-x-4">
      </div>
    </div>
    <!-- grid template -->
    <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
      {% for listing in search_result %}
      <div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800">

        <!-- image -->
        <div class="h-56 w-full">
        <a href="{% url 'listing_page' id=listing.id %}">
            <img class="mx-auto h-full block" src={{listing.image.url}} alt="" />
        </a>
        </div>

        <div class="pt-6">
        <!-- title -->
        <a href="{% url 'listing_page' id=listing.id %}" class="text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white">{{listing.title}}</a>

        <!-- small note -->
        <ul class="mt-2 flex items-center gap-4">
            <li class="flex items-center gap-2">
                <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Current bid:</p>
            </li>
        </ul>

        <!-- price -->
        <div class="mt-4 flex items-center justify-between gap-4">
            <p class="text-2xl font-extrabold leading-tight text-gray-900 dark:text-white">£{{listing.current_highest_bid}}</p>
            <!-- Add to watchlist -->
            {% if listing.listing_is_open is True %}
            <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4  focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    <svg class="-ms-2 me-2 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
                    </svg>
                Add to watchlist
                </button>
            </form>
            {% endif %} 
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </form>
</section>

{% endblock %}
    
    
    
    